<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <notification_dashboard>
            <slack>
                <webhook_url>https://hooks.slack.com/services/</webhook_url>
                <username>Notification Dashboard</username>
                <icon_emoji>:warning:</icon_emoji>
                <is_debug_mode_enabled>0</is_debug_mode_enabled>
            </slack>
        </notification_dashboard>
    </default>
</config>
