<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageSuite\NotificationDashboard\Service\NotificationSender\Channel\Resolver">
        <arguments>
            <argument name="channels" xsi:type="array">
                <item name="send_to_slack" xsi:type="object">MageSuite\NotificationDashboardSlack\Service\NotificationSender\Channel\Slack</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\NotificationDashboard\Api\UserRepositoryInterface">
        <plugin name="add_custom_attributes_to_extension_attributes" type="MageSuite\NotificationDashboardSlack\Plugin\NotificationDashboard\Api\UserRepositoryInterface\AddCustomAttributesToExtensionAttributes" sortOrder="10" />
    </type>
</config>
